html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: rgba(56, 189, 248, 0.4);
  color: #f9fafb;
}


